---
name: pre-commit checks
on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches-ignore:
      - main
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install pre-commit
        run: |
          pip install --user pre-commit
          pre-commit autoupdate
      - name: Run pre-commit checks on all files
        run: pre-commit run --all-files
